body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff5f7;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-img img {
    width: 300px;
    border-radius: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: pink;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

/* GALLERY */
.gallery {
    padding: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 50px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: white;
}